Repository Cargill/splinter, pull requests merged in 2021-12, with the labels that each got.

#1710 Backport 0-6: Update rand and crossbeam dependencies
  libsplinter/Cargo.toml
  libsplinter/src/base62.rs
  libsplinter/src/oauth/rest_api/actix/callback.rs
  libsplinter/src/rest_api/secrets/auto_secret_manager.rs
  splinterd/Cargo.toml
Labels: backport-pr

#1712 Remove atomicwrites dependency
  libsplinter/Cargo.toml
Labels: backport-0-6

#1713 Update flexi_logger dependency to v0.21
  cli/Cargo.toml
  examples/gameroom/cli/Cargo.toml
  examples/gameroom/daemon/Cargo.toml
  services/scabbard/cli/Cargo.toml
Labels: backport-0-6

#1706 Add support for Arc-RwLock-wrapped SQLite pool
  libsplinter/src/store/sqlite.rs
  services/scabbard/libscabbard/Cargo.toml
  services/scabbard/libscabbard/src/service/factory/mod.rs
  services/scabbard/libscabbard/src/service/state/merkle_state.rs
  splinterd/src/daemon/store.rs
Labels: backport-0-6

#1715 Backport 0-6: update flexilogger
  cli/Cargo.toml
  examples/gameroom/cli/Cargo.toml
  examples/gameroom/daemon/Cargo.toml
  services/scabbard/cli/Cargo.toml
Labels: backport-pr

#1707 Backport 0-6: Add write-exclusivity to scabbard stores
  services/scabbard/libscabbard/src/store/diesel/mod.rs
  services/scabbard/libscabbard/src/store/mod.rs
  services/scabbard/libscabbard/src/store/pool.rs
Labels: backport-pr

#1709 Backport 0-4: Fix scabbard batch status deadlock
  libsplinter/src/orchestrator/mod.rs
  libsplinter/src/orchestrator/rest_api.rs
  services/scabbard/libscabbard/src/client/mod.rs
  services/scabbard/libscabbard/src/service/factory.rs
  services/scabbard/libscabbard/src/service/mod.rs
  services/scabbard/libscabbard/src/service/state.rs
Labels: backport-pr

#1714 Backport 0-6: Remove atomicwrites
  libsplinter/Cargo.toml
Labels: backport-pr

#1720 Make crate::channel pub(crate)
  libsplinter/src/channel/mock.rs
  libsplinter/src/lib.rs
Labels: backport-0-6, api-break

#1721 Update oauth2 dependency
  libsplinter/Cargo.toml
  libsplinter/src/oauth/mod.rs
Labels: backport-0-6

#1722 Backport 0-6: Make crate::channel pub(crate)
  libsplinter/src/channel/mock.rs
  libsplinter/src/lib.rs
Labels: backport-pr, api-break

#1716 Update (or remove) serial_test dependency
  cli/Cargo.toml
  libsplinter/Cargo.toml
  services/scabbard/cli/Cargo.toml
Labels: backport-0-6

#1724 Backport 0-6 Add support for Arc-RwLock-wrapped SQLite pool
  libsplinter/src/store/sqlite.rs
  services/scabbard/libscabbard/Cargo.toml
  services/scabbard/libscabbard/src/service/factory/mod.rs
  services/scabbard/libscabbard/src/service/state/merkle_state.rs
  splinterd/src/daemon/store.rs
Labels: backport-pr

#1718 Enclose http statuses in quotes in openapi.yaml
  splinterd/api/static/openapi.yaml
Labels: backport-0-6

#1725 Backport 0-6: Update oauth2 dependency
  libsplinter/Cargo.toml
  libsplinter/src/oauth/mod.rs
Labels: backport-pr

#1723 Simplify rest-api feature guard
  libsplinter/Cargo.toml
  libsplinter/src/admin/mod.rs
  libsplinter/src/lib.rs
  libsplinter/src/orchestrator/mod.rs
  libsplinter/src/rest_api/auth/mod.rs
  libsplinter/src/rest_api/mod.rs
  libsplinter/src/service/factory.rs
  libsplinter/src/service/mod.rs
Labels: backport-0-6

#1728 Backport 0-6: Update (or remove) serial_test dependency
  cli/Cargo.toml
  libsplinter/Cargo.toml
  services/scabbard/cli/Cargo.toml
Labels: backport-pr

#1730 Update base64 and glob dependency versions
  libsplinter/Cargo.toml
  services/scabbard/libscabbard/Cargo.toml
Labels: backport-0-6

#1729 Use a single SplinterProtocolVersion value across libsplinter
  libsplinter/src/admin/client/event/ws/actix_web_client.rs
  libsplinter/src/admin/client/reqwest.rs
  libsplinter/src/admin/rest_api/actix/circuits.rs
  libsplinter/src/admin/rest_api/actix/circuits_circuit_id.rs
  libsplinter/src/admin/rest_api/actix/proposals.rs
  libsplinter/src/admin/rest_api/actix/proposals_circuit_id.rs
  libsplinter/src/admin/rest_api/actix/submit.rs
  libsplinter/src/admin/rest_api/actix/ws_register_type.rs
  libsplinter/src/biome/client/reqwest.rs
  libsplinter/src/biome/credentials/rest_api/actix_web_1/login.rs
  libsplinter/src/biome/credentials/rest_api/actix_web_1/logout.rs
  libsplinter/src/biome/credentials/rest_api/actix_web_1/register.rs
  libsplinter/src/biome/credentials/rest_api/actix_web_1/token.rs
  libsplinter/src/biome/credentials/rest_api/actix_web_1/user.rs
  libsplinter/src/biome/credentials/rest_api/actix_web_1/verify.rs
  libsplinter/src/biome/key_management/rest_api/actix_web_1/key_management.rs
  libsplinter/src/biome/profile/rest_api/actix_web_1/profile.rs
  libsplinter/src/biome/profile/rest_api/actix_web_1/profiles.rs
  libsplinter/src/biome/profile/rest_api/actix_web_1/profiles_identity.rs
  libsplinter/src/oauth/rest_api/actix/callback.rs
  libsplinter/src/oauth/rest_api/actix/list_users.rs
  libsplinter/src/oauth/rest_api/actix/login.rs
  libsplinter/src/oauth/rest_api/actix/logout.rs
  libsplinter/src/registry/client/reqwest.rs
  libsplinter/src/registry/rest_api/actix/nodes.rs
  libsplinter/src/registry/rest_api/actix/nodes_identity.rs
  libsplinter/src/rest_api/auth/authorization/maintenance/routes/actix.rs
  libsplinter/src/rest_api/auth/authorization/rbac/rest_api/actix_web_1/assignments.rs
  libsplinter/src/rest_api/auth/authorization/rbac/rest_api/actix_web_1/roles.rs
  libsplinter/src/rest_api/auth/authorization/routes/actix.rs
  libsplinter/src/rest_api/mod.rs
Labels: backport-0-6

#1731 Openapi fixups
  splinterd/api/static/openapi.yaml
Labels: backport-0-6

#1732 Backport 0-6: Backport logging fixes
  splinterd/packaging/splinterd.toml.example
  splinterd/src/config/default.rs
Labels: backport-pr

#1727 Backport 0-6: Enclose http statuses in quotes in openapi.yaml
  splinterd/api/static/openapi.yaml
Labels: backport-pr

#1691 Log default adjustment
  splinterd/packaging/splinterd.toml.example
  splinterd/src/config/default.rs
  splinterd/src/logging.rs
Labels: backport-0-6

#1733 Backport 0-6: Update base64 and glob dependency versions
  libsplinter/Cargo.toml
  services/scabbard/libscabbard/Cargo.toml
Labels: backport-pr

#1734 Backport 0-6: Rest api cleanup 2 and 3
  libsplinter/Cargo.toml
  libsplinter/src/admin/client/event/ws/actix_web_client.rs
  libsplinter/src/admin/client/reqwest.rs
  libsplinter/src/admin/mod.rs
  libsplinter/src/admin/rest_api/actix/circuits.rs
  libsplinter/src/admin/rest_api/actix/circuits_circuit_id.rs
  libsplinter/src/admin/rest_api/actix/proposals.rs
  libsplinter/src/admin/rest_api/actix/proposals_circuit_id.rs
  libsplinter/src/admin/rest_api/actix/submit.rs
  libsplinter/src/admin/rest_api/actix/ws_register_type.rs
  libsplinter/src/biome/client/reqwest.rs
  libsplinter/src/biome/credentials/rest_api/actix_web_1/login.rs
  libsplinter/src/biome/credentials/rest_api/actix_web_1/logout.rs
  libsplinter/src/biome/credentials/rest_api/actix_web_1/register.rs
  libsplinter/src/biome/credentials/rest_api/actix_web_1/token.rs
  libsplinter/src/biome/credentials/rest_api/actix_web_1/user.rs
  libsplinter/src/biome/credentials/rest_api/actix_web_1/verify.rs
  libsplinter/src/biome/key_management/rest_api/actix_web_1/key_management.rs
  libsplinter/src/biome/profile/rest_api/actix_web_1/profile.rs
  libsplinter/src/biome/profile/rest_api/actix_web_1/profiles.rs
  libsplinter/src/biome/profile/rest_api/actix_web_1/profiles_identity.rs
  libsplinter/src/lib.rs
  libsplinter/src/oauth/rest_api/actix/callback.rs
  libsplinter/src/oauth/rest_api/actix/list_users.rs
  libsplinter/src/oauth/rest_api/actix/login.rs
  libsplinter/src/oauth/rest_api/actix/logout.rs
  libsplinter/src/orchestrator/mod.rs
  libsplinter/src/registry/client/reqwest.rs
  libsplinter/src/registry/rest_api/actix/nodes.rs
  libsplinter/src/registry/rest_api/actix/nodes_identity.rs
  libsplinter/src/rest_api/auth/authorization/maintenance/routes/actix.rs
  libsplinter/src/rest_api/auth/authorization/rbac/rest_api/actix_web_1/assignments.rs
  libsplinter/src/rest_api/auth/authorization/rbac/rest_api/actix_web_1/roles.rs
  libsplinter/src/rest_api/auth/authorization/routes/actix.rs
  libsplinter/src/rest_api/auth/mod.rs
  libsplinter/src/rest_api/mod.rs
  libsplinter/src/service/factory.rs
  libsplinter/src/service/mod.rs
Labels: backport-pr

#1622 Remove `ScabbardReceiptStore` types
  services/scabbard/libscabbard/src/service/factory/mod.rs
  services/scabbard/libscabbard/src/service/mod.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state_address.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state_root.rs
  services/scabbard/libscabbard/src/service/state/mod.rs
Labels: backport-triage

#1739 Backport 0-6: openapi fixups
  splinterd/api/static/openapi.yaml
Labels: backport-pr

#1744 Backport 0.6: Fix comma separated list in splinterd
  splinterd/src/main.rs
Labels: backport-pr

#1743 Correct rustdoc code links
  libsplinter/src/biome/oauth/store/diesel/operations/mod.rs
  libsplinter/src/biome/oauth/store/error.rs
  libsplinter/src/biome/profile/store/diesel/operations/mod.rs
  libsplinter/src/biome/profile/store/error.rs
Labels: backport-0-6

#1745 Backport 0.4: Fix comma separated list in splinterd
  splinterd/src/main.rs
Labels: backport-pr
