Repository Cargill/splinter, pull requests merged in 2022-05, with the labels that each got.

#1932 Update lifecylce commands for scabbard store
  services/scabbard/libscabbard/src/service/v3/arguments.rs
  services/scabbard/libscabbard/src/service/v3/arguments_converter.rs
  services/scabbard/libscabbard/src/service/v3/lifecycle.rs
  services/scabbard/libscabbard/src/service/v3/mod.rs
  services/scabbard/libscabbard/src/store/command/finalize_service.rs
  services/scabbard/libscabbard/src/store/command/prepare_service.rs
  services/scabbard/libscabbard/src/store/command/purge_service.rs
  services/scabbard/libscabbard/src/store/command/retire_service.rs
  services/scabbard/libscabbard/src/store/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/context.rs
Labels: backport-triage, main

#1928 Add Release Notes for 0.6.12
  RELEASE_NOTES.md
Labels: 0-6

#1936 Move two phase specific context and state structs
  services/scabbard/libscabbard/src/service/v3/timer_filter.rs
  services/scabbard/libscabbard/src/store/command/prepare_service.rs
  services/scabbard/libscabbard/src/store/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/models.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_actions.rs
  services/scabbard/libscabbard/src/store/scabbard_store/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase/context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase/state.rs
Labels: backport-triage, main

#1933 A few small cleanup fixes for scabbard v3 and new service API
  libsplinter/src/runtime/service/lifecycle_executor/executor/mod.rs
  libsplinter/src/service/service_type.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/mod.rs
Labels: main

#1935 BACKPORT 0-4: Return batch statuses even when some timeout
  services/scabbard/libscabbard/src/client/mod.rs
  services/scabbard/libscabbard/src/service/rest_api/resources/batch_statuses.rs
  services/scabbard/libscabbard/src/service/state.rs
Labels: backport-pr

#1923 Update scabbard store consensus table and struct names
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-03-29-160500-create-scabbard-store-tables/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-03-29-160500-create-scabbard-store-tables/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-04-21-174800_scabbard_consensus_event_tables/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-04-21-174800_scabbard_consensus_event_tables/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-03-29-160500-create-scabbard-store-tables/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-03-29-160500-create-scabbard-store-tables/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-04-21-174800_scabbard_consensus_event_tables/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-04-21-174800_scabbard_consensus_event_tables/up.sql
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/models.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/get_current_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_actions.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_events.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_ready_services.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/remove_service.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/schema.rs
Labels: main

#1937 Update Splinter Daemon to be able to run the Scabbard V3 Skeleton
  services/scabbard/libscabbard/src/service/v3/timer_handler_factory.rs
  splinterd/Cargo.toml
  splinterd/src/daemon/lifecycle.rs
  splinterd/src/daemon/mod.rs
Labels: main

#1927 BACKPORT: Adjust sqlite, postgres feature to work in isolation
  libsplinter/Cargo.toml
  libsplinter/src/lib.rs
Labels: backport-pr, 0-6

#1939 Add augrim dependency
  Cargo.toml
  services/scabbard/libscabbard/Cargo.toml
Labels: main

#1941 Add empty line between documented functions
  services/scabbard/libscabbard/src/store/scabbard_store/mod.rs
Labels: main

#1940 Scabbard store ergonomic updates
  services/scabbard/libscabbard/src/store/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/factory/mod.rs
Labels: main

#1925 Move admin endpoints to actix_web_1
  libsplinter/src/admin/mod.rs
  libsplinter/src/admin/rest_api/actix/mod.rs
  libsplinter/src/admin/rest_api/actix_web_3/get_admin_circuits.rs
  libsplinter/src/admin/rest_api/actix_web_3/mod.rs
  libsplinter/src/admin/service/mod.rs
  libsplinter/src/admin/store/circuit.rs
  libsplinter/src/rest_api/mod.rs
  rest_api/actix_web_1/Cargo.toml
  rest_api/actix_web_1/src/admin/circuits.rs
  rest_api/actix_web_1/src/admin/circuits_circuit_id.rs
  rest_api/actix_web_1/src/admin/error.rs
  rest_api/actix_web_1/src/admin/mod.rs
  rest_api/actix_web_1/src/admin/proposals.rs
  rest_api/actix_web_1/src/admin/proposals_circuit_id.rs
  rest_api/actix_web_1/src/admin/resources/mod.rs
  rest_api/actix_web_1/src/admin/resources/v1/circuits.rs
  rest_api/actix_web_1/src/admin/resources/v1/circuits_circuit_id.rs
  rest_api/actix_web_1/src/admin/resources/v1/mod.rs
  rest_api/actix_web_1/src/admin/resources/v1/proposals.rs
  rest_api/actix_web_1/src/admin/resources/v1/proposals_circuit_id.rs
  rest_api/actix_web_1/src/admin/resources/v2/circuits.rs
  rest_api/actix_web_1/src/admin/resources/v2/circuits_circuit_id.rs
  rest_api/actix_web_1/src/admin/resources/v2/mod.rs
  rest_api/actix_web_1/src/admin/resources/v2/proposals.rs
  rest_api/actix_web_1/src/admin/resources/v2/proposals_circuit_id.rs
  rest_api/actix_web_1/src/admin/submit.rs
  rest_api/actix_web_1/src/admin/ws_register_type.rs
  rest_api/actix_web_1/src/hex.rs
  rest_api/actix_web_1/src/lib.rs
  rest_api/common/src/lib.rs
  splinterd/Cargo.toml
  splinterd/Dockerfile-installed-focal
  splinterd/src/daemon/mod.rs
  splinterd/src/node/runnable/admin.rs
  tests/Dockerfile
Labels: main

#1943 Updates for ScabbardStore
  services/scabbard/libscabbard/src/store/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/mod.rs
Labels: backport-triage, main

#1944 Save consensus messages as events
  services/scabbard/libscabbard/src/protocol/v3/two_phase_commit.rs
  services/scabbard/libscabbard/src/service/v3/message_handler.rs
  services/scabbard/libscabbard/src/service/v3/message_handler_factory.rs
  services/scabbard/libscabbard/src/store/scabbard_store/factory/mod.rs
  splinterd/src/daemon/mod.rs
  splinterd/src/daemon/store.rs
Labels: main

#1942 Remove actix web 3
  libsplinter/Cargo.toml
  libsplinter/src/rest_api/actix_web_3/api.rs
  libsplinter/src/rest_api/actix_web_3/builder.rs
  libsplinter/src/rest_api/actix_web_3/mod.rs
  libsplinter/src/rest_api/actix_web_3/runnable.rs
  libsplinter/src/rest_api/mod.rs
  splinterd/Cargo.toml
  splinterd/src/node/builder/mod.rs
  splinterd/src/node/runnable/mod.rs
  splinterd/src/node/running/mod.rs
  splinterd/tests/admin/circuit_list.rs
Labels: backport-triage, main

#1945 Add "RUSTFLAGS="-D warnings" to "just build"
  justfile
  libsplinter/src/oauth/rest_api/actix/list_users.rs
  splinterd/tests/framework/network.rs
Labels: main

#1949 Fixup rustdoc for validate_service_type macro
  libsplinter/src/service/service_type.rs
Labels: main

#1952 Change From impl to new constructor
  rest_api/actix_web_1/src/admin/mod.rs
  splinterd/src/daemon/mod.rs
  splinterd/src/node/runnable/admin.rs
Labels: backport-triage, main

#1953 Replace the use of admin shared with store in ProposalStore
  libsplinter/src/admin/service/builder.rs
  libsplinter/src/admin/service/mod.rs
  libsplinter/src/admin/service/proposal_store/admin_service_proposals.rs
  libsplinter/src/admin/service/proposal_store/admin_service_proposals_factory.rs
  libsplinter/src/admin/service/proposal_store/error.rs
Labels: main

#1947 Add ConsensusActionRunner for Scabbard v3
  services/scabbard/libscabbard/Cargo.toml
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/commands/actions.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/commands/context.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/commands/mod.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/commands/notifications.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/context_updater/mod.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/context_updater/store.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/mod.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/notify_observer/command.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/notify_observer/mod.rs
  services/scabbard/libscabbard/src/service/v3/consensus/mod.rs
  services/scabbard/libscabbard/src/service/v3/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/commit.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/models.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_commit_entry.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_commit_entry.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase/message.rs
Labels: main

#1948 Combine scabbard store consensus participant and coordinator
  services/scabbard/libscabbard/Cargo.toml
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-03-29-160500-create-scabbard-store-tables/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-03-29-160500-create-scabbard-store-tables/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-04-21-174800_scabbard_consensus_event_tables/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-03-29-160500-create-scabbard-store-tables/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-03-29-160500-create-scabbard-store-tables/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-04-21-174800_scabbard_consensus_event_tables/up.sql
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/mod.rs
  services/scabbard/libscabbard/src/service/v3/timer_filter.rs
  services/scabbard/libscabbard/src/store/command/prepare_service.rs
  services/scabbard/libscabbard/src/store/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/models.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/get_current_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_actions.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_events.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_ready_services.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/remove_service.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/schema.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase/context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase/state.rs
Labels: main

#1957 Scabbard store renaming
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/commands/context.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/commands/notifications.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/context_updater/mod.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/context_updater/store.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/mod.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/notify_observer/command.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/notify_observer/mod.rs
  services/scabbard/libscabbard/src/service/v3/message_handler.rs
  services/scabbard/libscabbard/src/service/v3/timer_filter.rs
  services/scabbard/libscabbard/src/store/command/finalize_service.rs
  services/scabbard/libscabbard/src/store/command/prepare_service.rs
  services/scabbard/libscabbard/src/store/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/boxed.rs
  services/scabbard/libscabbard/src/store/scabbard_store/context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/models.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/get_current_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_actions.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_events.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase_commit/action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase_commit/context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase_commit/event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase_commit/message.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase_commit/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase_commit/state.rs
Labels: main

#1956 TryFrom impls for actions and context
  services/scabbard/libscabbard/src/store/scabbard_store/action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase_commit/action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase_commit/context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase_commit/state.rs
Labels: main

#1950 Move biome endpoints
  libsplinter/src/biome/key_management/mod.rs
  rest_api/actix_web_1/Cargo.toml
  rest_api/actix_web_1/src/biome/key_management/endpoints.rs
  rest_api/actix_web_1/src/biome/key_management/mod.rs
  rest_api/actix_web_1/src/biome/key_management/resources.rs
  rest_api/actix_web_1/src/biome/mod.rs
  rest_api/actix_web_1/src/lib.rs
  splinterd/Cargo.toml
  splinterd/src/daemon/mod.rs
  splinterd/src/node/runnable/biome.rs
Labels: backport-triage, main

#1959 Add TryFrom for events
  services/scabbard/libscabbard/src/store/scabbard_store/event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase_commit/event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase_commit/message.rs
Labels: main

#1955 Update `list_ready_services` to check events
  services/scabbard/libscabbard/src/service/v3/timer_filter.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_ready_services.rs
Labels: main

#1954 Scabbard Store - move alarm out of context
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-03-29-160500-create-scabbard-store-tables/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-05-05-142800-create-scabbard-alarm-table/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-05-05-142800-create-scabbard-alarm-table/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-03-29-160500-create-scabbard-store-tables/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-05-05-142800-create-scabbard-alarm-table/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-05-05-142800-create-scabbard-alarm-table/up.sql
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/commands/context.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/context_updater/store.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/mod.rs
  services/scabbard/libscabbard/src/service/v3/timer_filter.rs
  services/scabbard/libscabbard/src/store/command/finalize_service.rs
  services/scabbard/libscabbard/src/store/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/alarm.rs
  services/scabbard/libscabbard/src/store/scabbard_store/boxed.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/models.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/get_alarm.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_actions.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_ready_services.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/set_alarm.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/unset_alarm.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/schema.rs
  services/scabbard/libscabbard/src/store/scabbard_store/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase_commit/context.rs
Labels: main

#1962 Add release notes for version 0.6.13
  RELEASE_NOTES.md
Labels: 0-6

#1961 Implement the ConsensusRunner
  libsplinter/src/error/internal.rs
  libsplinter/src/store/command/executor/diesel/mod.rs
  libsplinter/src/store/pool.rs
  services/scabbard/libscabbard/Cargo.toml
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/mod.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/action_source.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/builder.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/consensus_store_command_factory.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/context_source.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/event_source.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/mod.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/store_sources.rs
  services/scabbard/libscabbard/src/service/v3/consensus/mod.rs
  services/scabbard/libscabbard/src/service/v3/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase_commit/context.rs
Labels: main

#1966 Several ScabbardV3 Fixes
  services/scabbard/libscabbard/src/protocol/v3/message.rs
  services/scabbard/libscabbard/src/protocol/v3/two_phase_commit.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/notify_observer/command.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/mod.rs
  services/scabbard/libscabbard/src/store/command/finalize_service.rs
Labels: backport-triage, main

#1967 Stabilize service-type
  libsplinter/Cargo.toml
  libsplinter/src/service/mod.rs
  services/scabbard/libscabbard/Cargo.toml
Labels: main

#1969 Update ConsensusRunner for removal of Process from Algorithm
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/builder.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/mod.rs
Labels: main

#1971 Remove epoch from ScabbardStore api
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/commands/actions.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/commands/notifications.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/mod.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/notify_observer/command.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/action_source.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/consensus_store_command_factory.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/event_source.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/mod.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/store_sources.rs
  services/scabbard/libscabbard/src/service/v3/message_handler.rs
  services/scabbard/libscabbard/src/service/v3/timer_filter.rs
  services/scabbard/libscabbard/src/store/scabbard_store/boxed.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_actions.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_events.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/mod.rs
Labels: main

#1946 0-6: Minor changes to merge GHA workflow
  .github/workflows/0-6-merge.yaml
Labels: 0-6

#1975 Backport 0-6: Fix redundant slicing of the whole range lint
  libsplinter/src/transport/socket/frame.rs
Labels: 0-6

#1960 Switch primary docker publishing to ghcr.io
  .github/workflows/publish-docker-branch.yaml
  .github/workflows/publish-release.yaml
  .github/workflows/splinter-dev.yaml
  ci/docker-bake.hcl
  ci/publish-docker
  ci/splinter-dev-buildx
  docker-compose-installed.yaml
Labels: backport-triage, main

#1972 Update CommitEntry to not require having the epoch
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/mod.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/notify_observer/command.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/notify_observer/mod.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/commit.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/models.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_commit_entry.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_commit_entry.rs
Labels: main

#1965 Update Scabbard v3 TimerHandlerFactory and TimerHandler to use the ConsensusRunner
  libsplinter/src/store/command/executor/mod.rs
  services/scabbard/libscabbard/Cargo.toml
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/builder.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/mod.rs
  services/scabbard/libscabbard/src/service/v3/timer_handler.rs
  services/scabbard/libscabbard/src/service/v3/timer_handler_factory.rs
  services/scabbard/libscabbard/src/store/scabbard_store/factory/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/factory/postgres.rs
  services/scabbard/libscabbard/src/store/scabbard_store/factory/sqlite.rs
  splinterd/Cargo.toml
  splinterd/src/daemon/mod.rs
  splinterd/src/daemon/timer.rs
Labels: main

#1978 Fix scabbard store update context
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_context.rs
Labels: main

#1958 Move registry endpoints
  libsplinter/src/registry/mod.rs
  libsplinter/src/registry/rest_api/resources/mod.rs
  libsplinter/src/rest_api/mod.rs
  rest_api/actix_web_1/Cargo.toml
  rest_api/actix_web_1/src/lib.rs
  rest_api/actix_web_1/src/registry/error.rs
  rest_api/actix_web_1/src/registry/mod.rs
  rest_api/actix_web_1/src/registry/nodes.rs
  rest_api/actix_web_1/src/registry/nodes_identity.rs
  rest_api/actix_web_1/src/registry/resources/mod.rs
  rest_api/actix_web_1/src/registry/resources/nodes.rs
  rest_api/actix_web_1/src/registry/resources/nodes_identity.rs
  splinterd/Cargo.toml
  splinterd/src/daemon/mod.rs
  splinterd/src/node/runnable/admin.rs
Labels: backport-triage, main

#1981 Update Consensus Runner to run one action at a time
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/mod.rs
Labels: backport-triage, main

#1983 Context fixes for Scabbard V3
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/mod.rs
  services/scabbard/libscabbard/src/store/command/prepare_service.rs
Labels: main

#1977 Add store and operation to ConstraintViolationType
  libsplinter/src/error/constraint_violation.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_commit_entry.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_service.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/get_alarm.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/get_current_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/get_last_commit_entry.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/get_service.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_actions.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_events.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_ready_services.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/remove_service.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/set_alarm.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/unset_alarm.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_commit_entry.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_service.rs
  services/scabbard/libscabbard/src/store/scabbard_store/error.rs
Labels: main

#1988 Fix typos in support of stabilizing service message traits
  libsplinter/src/service/message_converter.rs
  libsplinter/src/service/message_handler.rs
Labels: main

#1979 Simplify consensus runner construction
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/action_source.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/builder.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/context_source.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/event_source.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/mod.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/store_sources.rs
  services/scabbard/libscabbard/src/service/v3/consensus/mod.rs
  services/scabbard/libscabbard/src/service/v3/mod.rs
  services/scabbard/libscabbard/src/service/v3/timer_handler_factory.rs
Labels: main

#1990 Improve error msg when a context is missing in ScabbardStore
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_actions.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_events.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_event.rs
Labels: main
