Repository Cargill/splinter, pull requests merged in 2022-03, with the labels that each got.

#1799 Remove all actix 1 related compression deps
  libsplinter/Cargo.toml
  services/scabbard/libscabbard/Cargo.toml
Labels: backport-0-4, backport-0-6, main

#1835 Add service and circuit id structs
  libsplinter/Cargo.toml
  libsplinter/src/service/id/circuit.rs
  libsplinter/src/service/id/mod.rs
  libsplinter/src/service/id/qualified.rs
  libsplinter/src/service/id/service.rs
  libsplinter/src/service/mod.rs
Labels: main

#1832 Replace tempdir library with tempfile
  cli/Cargo.toml
  cli/src/action/database/upgrade/node_id.rs
  cli/src/action/database/upgrade/yaml.rs
  libsplinter/Cargo.toml
  libsplinter/src/admin/store/yaml/mod.rs
  libsplinter/src/circuit/template/mod.rs
  libsplinter/src/circuit/template/yaml_parser/mod.rs
  libsplinter/src/registry/yaml/local.rs
  libsplinter/src/registry/yaml/remote.rs
  libsplinter/src/rest_api/auth/authorization/allow_keys.rs
  libsplinter/src/transport/socket/tls.rs
  libsplinter/src/transport/ws/mod.rs
  services/scabbard/libscabbard/Cargo.toml
  splinterd/Cargo.toml
  splinterd/tests/framework/network.rs
Labels: backport-triage, main

#1838 Reorganize existing service module
  libsplinter/src/admin/rest_api/actix/submit.rs
  libsplinter/src/admin/service/builder.rs
  libsplinter/src/admin/service/consensus.rs
  libsplinter/src/admin/service/error.rs
  libsplinter/src/admin/service/mod.rs
  libsplinter/src/admin/service/shared.rs
  libsplinter/src/circuit/component.rs
  libsplinter/src/lib.rs
  libsplinter/src/orchestrator/error.rs
  libsplinter/src/orchestrator/mod.rs
  libsplinter/src/runtime/mod.rs
  libsplinter/src/runtime/service/instance/mod.rs
  libsplinter/src/runtime/service/instance/network/error.rs
  libsplinter/src/runtime/service/instance/network/handlers.rs
  libsplinter/src/runtime/service/instance/network/interconnect/error.rs
  libsplinter/src/runtime/service/instance/network/interconnect/mod.rs
  libsplinter/src/runtime/service/instance/network/interconnect/service_connector.rs
  libsplinter/src/runtime/service/instance/network/mod.rs
  libsplinter/src/runtime/service/instance/processor/builder.rs
  libsplinter/src/runtime/service/instance/processor/error.rs
  libsplinter/src/runtime/service/instance/processor/mod.rs
  libsplinter/src/runtime/service/instance/processor/registry.rs
  libsplinter/src/runtime/service/instance/processor/sender.rs
  libsplinter/src/runtime/service/mod.rs
  libsplinter/src/service/instance/error.rs
  libsplinter/src/service/instance/factory.rs
  libsplinter/src/service/instance/message_context.rs
  libsplinter/src/service/instance/mod.rs
  libsplinter/src/service/instance/network_registry.rs
  libsplinter/src/service/instance/network_sender.rs
  libsplinter/src/service/instance/service_instance.rs
  libsplinter/src/service/instance/validation.rs
  libsplinter/src/service/mod.rs
  libsplinter/src/service/rest_api.rs
  services/scabbard/libscabbard/src/service/consensus.rs
  services/scabbard/libscabbard/src/service/factory/mod.rs
  services/scabbard/libscabbard/src/service/mod.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state_address.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state_root.rs
  services/scabbard/libscabbard/src/service/shared.rs
  splinterd/src/daemon/mod.rs
  splinterd/src/node/runnable/admin.rs
  splinterd/src/node/running/admin.rs
Labels: main

#1824 Add `StoreCommand` and `StoreCommandExecutor` traits
  libsplinter/Cargo.toml
  libsplinter/src/store/command/executor/diesel/error.rs
  libsplinter/src/store/command/executor/diesel/mod.rs
  libsplinter/src/store/command/executor/diesel/postgres.rs
  libsplinter/src/store/command/executor/diesel/sqlite.rs
  libsplinter/src/store/command/executor/mod.rs
  libsplinter/src/store/command/mod.rs
  libsplinter/src/store/mod.rs
Labels: backport-triage, main

#1839 Make RoutingTableReaderError publicly available
  libsplinter/src/circuit/routing/mod.rs
Labels: backport-triage, backport-0-6, main

#1840 Updates to `StoreCommand` and `StoreCommandExecutor`
  libsplinter/src/store/command/executor/diesel/mod.rs
  libsplinter/src/store/command/executor/diesel/postgres.rs
  libsplinter/src/store/command/executor/diesel/sqlite.rs
  libsplinter/src/store/command/executor/mod.rs
Labels: backport-triage, main

#1841 Backport 0-6: Make RoutingTableReaderError publicly available
  libsplinter/src/circuit/routing/mod.rs
Labels: backport-pr, 0-6

#1843 Shutdown AuthManager in NetworkSubsystem
  splinterd/src/node/runnable/network.rs
  splinterd/src/node/running/network.rs
Labels: backport-0-6, main

#1844 Shutdown scabbard executor on service stop
  services/scabbard/libscabbard/src/service/mod.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state_address.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state_root.rs
  services/scabbard/libscabbard/src/service/state/mod.rs
Labels: backport-0-6, main

#1846 Backport 0-6: Shutdown AuthManager in NetworkSubsystem
  splinterd/src/node/runnable/network.rs
  splinterd/src/node/running/network.rs
Labels: backport-pr, 0-6

#1847 Stabilization updates for "service-id"
  libsplinter/src/service/id/circuit.rs
  libsplinter/src/service/id/qualified.rs
  libsplinter/src/service/id/service.rs
Labels: backport-triage, main

#1849 "store-command" stabilization updates
  libsplinter/src/store/command/executor/mod.rs
  libsplinter/src/store/command/mod.rs
Labels: main

#1850 Add service traits
  libsplinter/Cargo.toml
  libsplinter/src/service/arguments_converter.rs
  libsplinter/src/service/lifecycle.rs
  libsplinter/src/service/message_converter.rs
  libsplinter/src/service/message_handler.rs
  libsplinter/src/service/message_handler_factory.rs
  libsplinter/src/service/message_sender.rs
  libsplinter/src/service/message_sender_factory.rs
  libsplinter/src/service/mod.rs
  libsplinter/src/service/routable.rs
  libsplinter/src/service/timer_filter.rs
  libsplinter/src/service/timer_handler.rs
  libsplinter/src/service/timer_handler_factory.rs
Labels: main

#1851 "service-id" stabilization updates
  libsplinter/src/service/id/circuit.rs
  libsplinter/src/service/id/qualified.rs
  libsplinter/src/service/id/service.rs
Labels: main

#1854 Correct foreign key constraint on rbac_assignment
  libsplinter/src/migrations/diesel/sqlite/migrations/2022-03-15-012200_update_rbac_assignments_foreign_key/down.sql
  libsplinter/src/migrations/diesel/sqlite/migrations/2022-03-15-012200_update_rbac_assignments_foreign_key/up.sql
Labels: backport-0-6, main

#1855 Add retry to sending messages in PeerInterconnect
  libsplinter/src/peer/error.rs
  libsplinter/src/peer/interconnect/error.rs
  libsplinter/src/peer/interconnect/mod.rs
  libsplinter/src/peer/interconnect/pending.rs
Labels: backport-0-6, main

#1856 BACKPORT 0-6: Correct foreign key constraint on rbac_assignment
  libsplinter/src/migrations/diesel/sqlite/migrations/2022-03-15-012200_update_rbac_assignments_foreign_key/down.sql
  libsplinter/src/migrations/diesel/sqlite/migrations/2022-03-15-012200_update_rbac_assignments_foreign_key/up.sql
Labels: backport-pr, 0-6

#1842 Add release notes for 0.6.9
  RELEASE_NOTES.md
Labels: 0-6

#1861 Service type struct
  libsplinter/Cargo.toml
  libsplinter/src/service/mod.rs
  libsplinter/src/service/routable.rs
  libsplinter/src/service/service_type.rs
Labels: backport-triage, main

#1860 Backport 0-6: Add retry to sending messages in PeerInterconnect
  libsplinter/src/peer/error.rs
  libsplinter/src/peer/interconnect/error.rs
  libsplinter/src/peer/interconnect/mod.rs
  libsplinter/src/peer/interconnect/pending.rs
Labels: backport-pr, 0-6

#1864 Rename Service::peer_id to ::local_peer_id
  libsplinter/src/circuit/component.rs
  libsplinter/src/circuit/handlers/circuit_error.rs
  libsplinter/src/circuit/handlers/direct_message.rs
  libsplinter/src/circuit/handlers/service_handlers.rs
  libsplinter/src/circuit/routing/memory/mod.rs
  libsplinter/src/circuit/routing/mod.rs
Labels: backport-0-6, main

#1870 Remove service::routable::Typed
  libsplinter/src/service/mod.rs
  libsplinter/src/service/routable.rs
Labels: backport-triage, main

#1869 Add files to build splinter-dev with Github Actions
  .github/actions/ec2-docker-buildx/Dockerfile
  .github/actions/ec2-docker-buildx/README.md
  .github/actions/ec2-docker-buildx/action.yml
  .github/actions/ec2-docker-buildx/aws.py
  .github/workflows/splinter-dev.yaml
  ci/splinter-dev-buildx
Labels: backport-triage, main

#1868 Add AdminService integration with the new Lifecycle Executor API
  libsplinter/src/admin/lifecycle/mod.rs
  libsplinter/src/admin/lifecycle/orchestrator.rs
  libsplinter/src/admin/lifecycle/sync.rs
  libsplinter/src/admin/mod.rs
  libsplinter/src/admin/service/builder.rs
  libsplinter/src/admin/service/mod.rs
  libsplinter/src/admin/service/shared.rs
  splinterd/src/daemon/mod.rs
  splinterd/src/node/runnable/admin.rs
Labels: main

#1875 Remove old dependency from "scabbardv3" feature
  services/scabbard/libscabbard/Cargo.toml
Labels: main
