Repository Cargill/splinter, pull requests merged in 2022-02, with the labels that each got.

#1805 Fix error with missing root logger level from toml
  splinterd/src/config/logging.rs
Labels: backport-0-6, main

#1810 BACKPORT 0-6: Fix error with missing root logger level from toml
  splinterd/src/config/logging.rs
Labels: backport-pr

#1808 Fix admin service protocol response sender for challenge auth
  libsplinter/src/admin/service/mod.rs
  libsplinter/src/admin/service/shared.rs
Labels: backport-0-6, main

#1807 Add description for error_data field
  splinterd/api/static/openapi.yaml
Labels: backport-0-6, main

#1814 Backport 0-6: Fix admin service protocol response sender for challenge auth
  libsplinter/src/admin/service/mod.rs
  libsplinter/src/admin/service/shared.rs
Labels: backport-pr

#1806 Remove "biome-notifications"
  examples/gameroom/tests/cypress/scripts/clear_db.sh
  libsplinter/Cargo.toml
  libsplinter/src/biome/mod.rs
  libsplinter/src/biome/notifications/mod.rs
  libsplinter/src/biome/notifications/store/diesel/mod.rs
  libsplinter/src/biome/notifications/store/diesel/models.rs
  libsplinter/src/biome/notifications/store/diesel/schema.rs
  libsplinter/src/biome/notifications/store/mod.rs
  libsplinter/src/migrations/diesel/postgres/migrations/2022-02-09-103052_remove_biome_notifications/down.sql
  libsplinter/src/migrations/diesel/postgres/migrations/2022-02-09-103052_remove_biome_notifications/up.sql
  libsplinter/src/migrations/diesel/sqlite/migrations/2022-02-09-103052_remove_biome_notifications/down.sql
  libsplinter/src/migrations/diesel/sqlite/migrations/2022-02-09-103052_remove_biome_notifications/up.sql
  libsplinter/src/rest_api/mod.rs
Labels: backport-0-6, main

#1813 Remove sets module
  libsplinter/src/lib.rs
  libsplinter/src/sets/mem.rs
  libsplinter/src/sets/mod.rs
Labels: main

#1811 Thread pool panic recovery
  libsplinter/src/threading/pool.rs
Labels: backport-0-6, main

#1801 Pull in SabreTransactionHandler from Transact in Scabbard
  Cargo.toml
  cli/Cargo.toml
  examples/gameroom/daemon/Cargo.toml
  services/scabbard/cli/Cargo.toml
  services/scabbard/libscabbard/Cargo.toml
  services/scabbard/libscabbard/src/service/mod.rs
  services/scabbard/libscabbard/src/service/state/mod.rs
  splinterd/Cargo.toml
Labels: main

#1820 Remove sawtooth-compat from Transact dependency
  services/scabbard/libscabbard/Cargo.toml
Labels: backport-triage, main

#1817 Backport 0-6: Remove "biome-notifications"
  examples/gameroom/tests/cypress/scripts/clear_db.sh
  libsplinter/Cargo.toml
  libsplinter/src/biome/mod.rs
  libsplinter/src/biome/notifications/mod.rs
  libsplinter/src/biome/notifications/store/diesel/mod.rs
  libsplinter/src/biome/notifications/store/diesel/models.rs
  libsplinter/src/biome/notifications/store/diesel/schema.rs
  libsplinter/src/biome/notifications/store/mod.rs
  libsplinter/src/migrations/diesel/postgres/migrations/2022-02-09-103052_remove_biome_notifications/down.sql
  libsplinter/src/migrations/diesel/postgres/migrations/2022-02-09-103052_remove_biome_notifications/up.sql
  libsplinter/src/migrations/diesel/sqlite/migrations/2022-02-09-103052_remove_biome_notifications/down.sql
  libsplinter/src/migrations/diesel/sqlite/migrations/2022-02-09-103052_remove_biome_notifications/up.sql
  libsplinter/src/rest_api/mod.rs
Labels: backport-pr

#1819 Backport 0-6: Thread pool panic recovery
  libsplinter/src/threading/pool.rs
Labels: backport-pr

#1826 Update `splinter circuit show` CLI command
  cli/src/action/circuit/api.rs
Labels: backport-0-4, backport-0-6, main

#1794 Add architecture check for protoc during splinter-dev builds
  ci/splinter-dev.dockerfile
Labels: backport-0-6, main

#1829 Fix Rust 1.59 lint
  cli/src/action/certs.rs
  cli/src/action/circuit/api.rs
  cli/src/action/database/state/mod.rs
  cli/src/action/database/upgrade/receipt_store.rs
  cli/src/action/database/upgrade/scabbard.rs
  examples/gameroom/daemon/src/rest_api/routes/proposal.rs
  libsplinter/src/admin/rest_api/actix/circuits.rs
  libsplinter/src/admin/store/yaml/mod.rs
  libsplinter/src/biome/credentials/rest_api/actix_web_1/user.rs
  libsplinter/src/biome/key_management/rest_api/actix_web_1/key_management.rs
  libsplinter/src/biome/profile/rest_api/actix_web_1/profiles_identity.rs
  libsplinter/src/circuit/template/mod.rs
  libsplinter/src/circuit/template/rules/create_services.rs
  libsplinter/src/events/reactor.rs
  libsplinter/src/oauth/profile/openid.rs
  libsplinter/src/registry/rest_api/actix/nodes.rs
  libsplinter/src/registry/yaml/local.rs
  splinterd/src/config/mod.rs
  splinterd/src/daemon/mod.rs
  splinterd/src/logging.rs
Labels: backport-0-6, main

#1830 Backport 0-6: Fix Rust 1.59 lint
  cli/src/action/certs.rs
  cli/src/action/circuit/api.rs
  cli/src/action/database/state/mod.rs
  cli/src/action/database/upgrade/receipt_store.rs
  cli/src/action/database/upgrade/scabbard.rs
  examples/gameroom/daemon/src/rest_api/routes/proposal.rs
  libsplinter/src/admin/rest_api/actix/circuits.rs
  libsplinter/src/admin/store/yaml/mod.rs
  libsplinter/src/biome/credentials/rest_api/actix_web_1/user.rs
  libsplinter/src/biome/key_management/rest_api/actix_web_1/key_management.rs
  libsplinter/src/biome/profile/rest_api/actix_web_1/profiles_identity.rs
  libsplinter/src/circuit/template/mod.rs
  libsplinter/src/circuit/template/rules/create_services.rs
  libsplinter/src/events/reactor.rs
  libsplinter/src/oauth/profile/openid.rs
  libsplinter/src/registry/rest_api/actix/nodes.rs
  libsplinter/src/registry/yaml/local.rs
  splinterd/src/config/mod.rs
  splinterd/src/daemon/mod.rs
  splinterd/src/logging.rs
Labels: backport-pr, 0-6

#1827 Backport 0-6: Update `splinter circuit show` CLI command
  cli/src/action/circuit/api.rs
Labels: backport-pr, 0-6

#1831 Add release notes for 0.6.8
  RELEASE_NOTES.md
Labels: 0-6
