Repository Cargill/splinter, pull requests merged in 2022-06, with the labels that each got.

#1974 Move orchestrator rest api code
  libsplinter/src/runtime/service/instance/mod.rs
  libsplinter/src/runtime/service/instance/orchestrator/mod.rs
  libsplinter/src/service/instance/factory.rs
  libsplinter/src/service/rest_api.rs
  rest_api/actix_web_1/Cargo.toml
  rest_api/actix_web_1/src/lib.rs
  rest_api/actix_web_1/src/service/mod.rs
  services/scabbard/libscabbard/src/service/factory/endpoint_provider.rs
  services/scabbard/libscabbard/src/service/factory/mod.rs
  splinterd/Cargo.toml
  splinterd/src/daemon/mod.rs
  splinterd/src/node/runnable/admin.rs
Labels: backport-triage, main

#1985 BACKPORT 0-6: Fix incorrect insecure certs link in splinterd man page
  splinterd/man/splinterd.1.md
Labels: backport-pr, 0-6

#1993 Remove unnecessary generic parameter
  libsplinter/src/service/message_handler.rs
  libsplinter/src/service/message_handler_factory.rs
Labels: main

#1992 Update permission map
  libsplinter/src/rest_api/actix_web_1/resource.rs
  libsplinter/src/rest_api/auth/actix.rs
  libsplinter/src/rest_api/auth/authorization/mod.rs
  libsplinter/src/rest_api/auth/authorization/permission_map/method.rs
  libsplinter/src/rest_api/auth/authorization/permission_map/mod.rs
  libsplinter/src/rest_api/auth/authorization/permission_map/path_component.rs
  libsplinter/src/rest_api/auth/authorization/permission_map/request_definition.rs
  libsplinter/src/rest_api/auth/mod.rs
Labels: backport-triage, main

#1994 Pin error-stack-parser
  examples/gameroom/gameroom-app/package.json
Labels: backport-triage, main

#1996 Unpin error-stack-parser
  examples/gameroom/gameroom-app/package.json
Labels: main

#1999 Split rest api errors
  libsplinter/src/rest_api/errors/mod.rs
  libsplinter/src/rest_api/errors/request_error.rs
  libsplinter/src/rest_api/errors/rest_api_server_error.rs
Labels: backport-triage, main

#2002 Split auth mod
  libsplinter/src/rest_api/auth/authorization_header.rs
  libsplinter/src/rest_api/auth/authorization_result.rs
  libsplinter/src/rest_api/auth/bearer_token.rs
  libsplinter/src/rest_api/auth/mod.rs
Labels: backport-triage, main

#2001 Remove unused Method enums
  libsplinter/src/rest_api/auth/authorization/permission_map/method.rs
Labels: backport-triage, main

#1986 BACKPORT 0-4: Fix incorrect insecure certs link in splinterd man page
  splinterd/man/splinterd.1.md
Labels: backport-pr

#1991 Support atomic state migrate
  cli/src/action/database/state/merkle.rs
  cli/src/action/database/state/merkle/lmdb.rs
  cli/src/action/database/state/merkle/mod.rs
  cli/src/action/database/state/mod.rs
  cli/src/action/database/stores.rs
  services/scabbard/libscabbard/src/service/factory/mod.rs
  services/scabbard/libscabbard/src/service/mod.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state_address.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state_root.rs
  services/scabbard/libscabbard/src/service/state/mod.rs
  services/scabbard/libscabbard/src/store/commit_hash/diesel/mod.rs
  services/scabbard/libscabbard/src/store/commit_hash/mod.rs
  services/scabbard/libscabbard/src/store/commit_hash/transact/mod.rs
Labels: backport-0-6, main

#2005 Fix publish release workflow to use correct action name
  .github/workflows/publish-release.yaml
Labels: main

#2004 Split actix auth module
  libsplinter/src/rest_api/auth/actix.rs
  libsplinter/src/rest_api/auth/actix/middleware.rs
  libsplinter/src/rest_api/auth/actix/mod.rs
  libsplinter/src/rest_api/auth/actix/transform.rs
Labels: main

#2003 Split authorization mod
  libsplinter/src/rest_api/auth/authorization/authorization_handler_result.rs
  libsplinter/src/rest_api/auth/authorization/mod.rs
  libsplinter/src/rest_api/auth/authorization/permission.rs
Labels: main

#2010 Service factory updates
  libsplinter/src/service/instance/factory/endpoint.rs
  libsplinter/src/service/instance/factory/mod.rs
  libsplinter/src/service/instance/factory/service.rs
  libsplinter/src/service/instance/mod.rs
  libsplinter/src/service/instance/orchestrator/factory.rs
  services/scabbard/libscabbard/src/service/factory/mod.rs
Labels: main

#2006 Scabbard store - remove position column
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-06-08-133219-remove-action-and-event-position/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-06-08-133219-remove-action-and-event-position/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-06-08-133219-remove-action-and-event-position/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-06-08-133219-remove-action-and-event-position/up.sql
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/models.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_actions.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_events.rs
Labels: main

#2012 Backport 0-6: Add state pruning after each commit
  services/scabbard/libscabbard/src/service/state/mod.rs
Labels: backport-pr, 0-6

#2013 Move OauthResourceProvider to its own file
  libsplinter/src/oauth/rest_api/mod.rs
  libsplinter/src/oauth/rest_api/resource_provider.rs
Labels: backport-triage, main

#2014 Autocleanup pruned entries in state-migrate
  cli/src/action/database/state/merkle/mod.rs
  cli/src/action/database/state/mod.rs
Labels: backport-0-6, main

#2016 Scabbard store enhancements
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-06-08-164819-update-consensus-service-id/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-06-08-164819-update-consensus-service-id/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-06-08-164819-update-consensus-service-id/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-06-08-164819-update-consensus-service-id/up.sql
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/models.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_commit_entry.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_service.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/get_alarm.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/get_current_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/get_last_commit_entry.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/get_service.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_actions.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_events.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_ready_services.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/remove_service.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/set_alarm.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/unset_alarm.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_commit_entry.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_service.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/schema.rs
Labels: main

#2021 Fix mesh test race condition
  libsplinter/src/mesh/mod.rs
Labels: backport-triage, main

#2018 Refactor events
  libsplinter/src/events/error/mod.rs
  libsplinter/src/events/error/parse_error.rs
  libsplinter/src/events/error/reactor_error.rs
  libsplinter/src/events/error/web_socket_error.rs
  libsplinter/src/events/reactor/igniter.rs
  libsplinter/src/events/reactor/mod.rs
  libsplinter/src/events/reactor/reactor_message.rs
  libsplinter/src/events/reactor/reactor_shutdown_signaler.rs
  libsplinter/src/events/ws/connection_status.rs
  libsplinter/src/events/ws/context.rs
  libsplinter/src/events/ws/listen.rs
  libsplinter/src/events/ws/mod.rs
  libsplinter/src/events/ws/parse_bytes.rs
  libsplinter/src/events/ws/shutdown_handle.rs
  libsplinter/src/events/ws/web_socket_client.rs
  libsplinter/src/events/ws/web_socket_client_cmd.rs
  libsplinter/src/events/ws/ws_respoonse.rs
Labels: main

#2019 Fix formatting for Splinter 0.5.25 release notes
  RELEASE_NOTES.md
Labels: backport-triage, main

#2026 Backport 0-6: Autocleanup pruned entries in state-migrate
  cli/src/action/database/state/merkle/mod.rs
  cli/src/action/database/state/mod.rs
  libsplinter/src/mesh/mod.rs
Labels: backport-pr, 0-6

#2022 Update scabbard store for consensus decision ack
  services/scabbard/libscabbard/protos/scabbard_v3.proto
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-06-16-131600-consensus-add-decision-ack/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-06-16-131600-consensus-add-decision-ack/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-06-16-131600-consensus-add-decision-ack/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-06-16-131600-consensus-add-decision-ack/up.sql
  services/scabbard/libscabbard/src/protocol/v3/two_phase_commit.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/mod.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/mod.rs
  services/scabbard/libscabbard/src/service/v3/message_handler.rs
  services/scabbard/libscabbard/src/service/v3/timer_filter.rs
  services/scabbard/libscabbard/src/store/command/prepare_service.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/models.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/get_current_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_actions.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_events.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/schema.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase_commit/context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase_commit/message.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase_commit/state.rs
Labels: backport-triage, main

#2025 Auto cleanup scabbard pruning
  services/scabbard/libscabbard/src/service/factory/mod.rs
  services/scabbard/libscabbard/src/service/mod.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state_address.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state_root.rs
  services/scabbard/libscabbard/src/service/state/merkle_state.rs
  services/scabbard/libscabbard/src/service/state/mod.rs
  splinterd/Cargo.toml
  splinterd/man/splinterd.1.md
  splinterd/packaging/splinterd.toml.example
  splinterd/src/config/builder.rs
  splinterd/src/config/clap.rs
  splinterd/src/config/default.rs
  splinterd/src/config/mod.rs
  splinterd/src/config/partial.rs
  splinterd/src/config/toml.rs
  splinterd/src/daemon/builder.rs
  splinterd/src/daemon/mod.rs
  splinterd/src/main.rs
Labels: backport-0-6, main

#2030 Backport 0-6: Auto cleanup scabbard pruning
  services/scabbard/libscabbard/src/service/factory/mod.rs
  services/scabbard/libscabbard/src/service/mod.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state_address.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state_root.rs
  services/scabbard/libscabbard/src/service/state/merkle_state.rs
  services/scabbard/libscabbard/src/service/state/mod.rs
  splinterd/Cargo.toml
  splinterd/man/splinterd.1.md
  splinterd/packaging/splinterd.toml.example
  splinterd/src/config/builder.rs
  splinterd/src/config/clap.rs
  splinterd/src/config/default.rs
  splinterd/src/config/mod.rs
  splinterd/src/config/partial.rs
  splinterd/src/config/toml.rs
  splinterd/src/daemon/builder.rs
  splinterd/src/daemon/mod.rs
  splinterd/src/main.rs
Labels: 0-6

#2032 Replace get_response_paging_info
  libsplinter/src/oauth/rest_api/actix/list_users.rs
  libsplinter/src/rest_api/auth/authorization/rbac/rest_api/actix_web_1/assignments.rs
  libsplinter/src/rest_api/auth/authorization/rbac/rest_api/actix_web_1/roles.rs
  libsplinter/src/rest_api/paging.rs
  rest_api/actix_web_1/src/admin/circuits.rs
  rest_api/actix_web_1/src/admin/proposals.rs
  rest_api/actix_web_1/src/registry/nodes.rs
Labels: main

#2036 Stabilize service-message-sender feature
  libsplinter/Cargo.toml
  libsplinter/src/service/mod.rs
  services/scabbard/libscabbard/Cargo.toml
Labels: backport-triage, main
