Repository Cargill/splinter, pull requests merged in 2022-01, with the labels that each got.

#1750 More rust doc updates
  cli/Dockerfile-installed-focal
  examples/gameroom/daemon/Dockerfile-installed-focal
  libsplinter/src/admin/mod.rs
  libsplinter/src/circuit/mod.rs
  libsplinter/src/events/mod.rs
  libsplinter/src/lib.rs
  libsplinter/src/network/mod.rs
  libsplinter/src/orchestrator/mod.rs
  libsplinter/src/protos/mod.rs
  services/scabbard/cli/Dockerfile-installed-focal
  splinterd/Dockerfile-installed-focal
  tests/Dockerfile
Labels: backport-0-6, main

#1735 Add assignment endpoints openapi
  splinterd/api/static/openapi.yaml
Labels: backport-0-6

#1754 Remove status action
  cli/Cargo.toml
  cli/src/action/health.rs
  cli/src/action/mod.rs
  cli/src/main.rs
Labels: main

#1758 Backport 0-6: more rust doc updates
  cli/Dockerfile-installed-focal
  examples/gameroom/daemon/Dockerfile-installed-focal
  libsplinter/src/admin/mod.rs
  libsplinter/src/circuit/mod.rs
  libsplinter/src/events/mod.rs
  libsplinter/src/lib.rs
  libsplinter/src/network/mod.rs
  libsplinter/src/orchestrator/mod.rs
  libsplinter/src/protos/mod.rs
  services/scabbard/cli/Dockerfile-installed-focal
  splinterd/Dockerfile-installed-focal
  tests/Dockerfile
Labels: backport-pr

#1761 Backport 0-6: Remove `ScabbardReceiptStore` types
  services/scabbard/libscabbard/src/service/factory/mod.rs
  services/scabbard/libscabbard/src/service/mod.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state_address.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state_root.rs
  services/scabbard/libscabbard/src/service/state/mod.rs
Labels: backport-pr

#1757 Add missing argument for add_peer_ref
  libsplinter/src/peer/connector.rs
Labels: backport-0-6, main

#1755 BACKPORT 0-6: add assignment endpoints openapi
  splinterd/api/static/openapi.yaml
Labels: backport-pr

#1763 Add sqlite migration for renamed role tables
  libsplinter/src/migrations/diesel/sqlite/migrations/2022-01-06-160426_update_rbac_roles_permission_foreign_key/down.sql
  libsplinter/src/migrations/diesel/sqlite/migrations/2022-01-06-160426_update_rbac_roles_permission_foreign_key/up.sql
Labels: backport-triage, backport-0-6, main

#1740 Remove PRAGMA settings
  libsplinter/src/store/sqlite.rs
Labels: backport-0-6

#1766 Backport 0-6: remove pragma settings
  libsplinter/src/store/sqlite.rs
Labels: backport-pr

#1767 Run all scabbard migrations during check
  services/scabbard/libscabbard/src/migrations/diesel/postgres/mod.rs
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/mod.rs
Labels: backport-0-6, main

#1769 Backport 0-6: Run all scabbard migrations during check
  services/scabbard/libscabbard/src/migrations/diesel/postgres/mod.rs
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/mod.rs
Labels: backport-pr

#1768 Add missing man page info
  cli/man/splinter-keygen.1.md
  cli/man/splinter-upgrade.1.md
  services/scabbard/cli/man/scabbard-contract-list.1.md
  services/scabbard/cli/man/scabbard-contract-show.1.md
  services/scabbard/cli/man/scabbard-contract-upload.1.md
  services/scabbard/cli/man/scabbard-contract.1.md
  services/scabbard/cli/man/scabbard-cr-create.1.md
  services/scabbard/cli/man/scabbard-cr-delete.1.md
  services/scabbard/cli/man/scabbard-cr-update.1.md
  services/scabbard/cli/man/scabbard-cr.1.md
  services/scabbard/cli/man/scabbard-exec.1.md
  services/scabbard/cli/man/scabbard-ns-create.1.md
  services/scabbard/cli/man/scabbard-ns-delete.1.md
  services/scabbard/cli/man/scabbard-ns-update.1.md
  services/scabbard/cli/man/scabbard-ns.1.md
  services/scabbard/cli/man/scabbard-perm.1.md
  services/scabbard/cli/man/scabbard.1.md
Labels: backport-0-6, main

#1772 Fix `biome/profiles` endpoint permissions in `openapi.yaml`
  splinterd/api/static/openapi.yaml
Labels: backport-0-6, main

#1774 Splinter Rust API updates
  libsplinter/src/admin/store/circuit_proposal.rs
  libsplinter/src/admin/store/proposed_circuit.rs
  libsplinter/src/biome/credentials/store/mod.rs
  libsplinter/src/biome/key_management/store/mod.rs
  libsplinter/src/circuit/routing/mod.rs
Labels: backport-0-6, main

#1776 Backport 0-6: Splinter Rust API updates
  libsplinter/src/admin/store/circuit_proposal.rs
  libsplinter/src/admin/store/proposed_circuit.rs
  libsplinter/src/biome/credentials/store/mod.rs
  libsplinter/src/biome/key_management/store/mod.rs
  libsplinter/src/circuit/routing/mod.rs
Labels: backport-pr

#1759 Change function signature of InvalidArgumentError::new()
  libsplinter/src/biome/oauth/store/diesel/operations/update_session.rs
  libsplinter/src/biome/oauth/store/memory.rs
  libsplinter/src/error/invalid_argument.rs
  libsplinter/src/oauth/mod.rs
  libsplinter/src/service/validation.rs
  services/scabbard/libscabbard/src/service/factory/mod.rs
  services/scabbard/libscabbard/src/store/transact/mod.rs
Labels: main

#1778 Add quotations around user input in error
  libsplinter/src/circuit/template/rules/create_services.rs
Labels: backport-0-6, main

#1773 BACKPORT 0-6: Man page updates
  cli/man/splinter-cert-generate.1.md
  cli/man/splinter-keygen.1.md
  cli/man/splinter-registry.1.md
  cli/man/splinter-upgrade.1.md
  services/scabbard/cli/man/scabbard-contract-list.1.md
  services/scabbard/cli/man/scabbard-contract-show.1.md
  services/scabbard/cli/man/scabbard-contract-upload.1.md
  services/scabbard/cli/man/scabbard-contract.1.md
  services/scabbard/cli/man/scabbard-cr-create.1.md
  services/scabbard/cli/man/scabbard-cr-delete.1.md
  services/scabbard/cli/man/scabbard-cr-update.1.md
  services/scabbard/cli/man/scabbard-cr.1.md
  services/scabbard/cli/man/scabbard-exec.1.md
  services/scabbard/cli/man/scabbard-ns-create.1.md
  services/scabbard/cli/man/scabbard-ns-delete.1.md
  services/scabbard/cli/man/scabbard-ns-update.1.md
  services/scabbard/cli/man/scabbard-ns.1.md
  services/scabbard/cli/man/scabbard-perm.1.md
  services/scabbard/cli/man/scabbard.1.md
Labels: backport-pr

#1771 Backport 0-6: Fix the biome user endpoint docs
  libsplinter/src/biome/credentials/rest_api/actix_web_1/mod.rs
Labels: backport-pr

#1781 Backport 0-6: Modify splinter user list command
  cli/src/action/user/mod.rs
Labels: backport-pr

#1779 Backport: Add quotations around user input in error
  libsplinter/src/circuit/template/rules/create_services.rs
Labels: backport-pr

#1785 Update transact dependency to 0.4.3
  services/scabbard/libscabbard/Cargo.toml
  services/scabbard/libscabbard/src/service/rest_api/actix/state.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state_address.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state_root.rs
  services/scabbard/libscabbard/src/service/state/mod.rs
Labels: backport-0-6, main

#1787 Backport 0-6: Update transact dependency to 0.4.3
  services/scabbard/libscabbard/Cargo.toml
  services/scabbard/libscabbard/src/service/rest_api/actix/state.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state_address.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state_root.rs
  services/scabbard/libscabbard/src/service/state/mod.rs
Labels: backport-pr

#1786 Remove `include_str` that causes `cargo publish` to fail
  libsplinter/src/lib.rs
Labels: backport-0-6, main

#1788 BACKPORT 0-6: Remove `include_str` that causes `cargo publish` to fail
  libsplinter/src/lib.rs
Labels: backport-pr

#1789 Fix to_string_in_format_args lint
  cli/src/action/database/upgrade/yaml.rs
  examples/gameroom/daemon/src/rest_api/routes/node.rs
  libsplinter/src/admin/service/shared.rs
  splinterd/src/node/builder/mod.rs
  splinterd/src/node_id.rs
Labels: backport-0-6, main

#1790 Backport 0-6: Fix to_string_in_format_args lint
  cli/src/action/database/upgrade/yaml.rs
  examples/gameroom/daemon/src/rest_api/routes/node.rs
  libsplinter/src/admin/service/shared.rs
  splinterd/src/node/builder/mod.rs
  splinterd/src/node_id.rs
Labels: backport-pr

#1777 Remove check excluding full filepath templates
  cli/src/template.rs
Labels: backport-0-6, main

#1795 Add sabre to default loggers
  splinterd/src/config/default.rs
Labels: backport-0-6, main

#1797 BACKPORT 0-6: Add sabre to default loggers
  splinterd/src/config/default.rs
Labels: backport-pr

#1802 Update sawtooth-lib dependency to 0.7.3
  services/scabbard/libscabbard/Cargo.toml
Labels: backport-triage, main

#1803 Backport 0-6: Update sawtooth-lib dependency to 0.7.3
  services/scabbard/libscabbard/Cargo.toml
Labels: backport-pr
