Repository Cargill/splinter, pull requests merged in 2022-07, with the labels that each got.

#2037 Update ConsensusAction for event_id, action_type and executed_at
  services/scabbard/libscabbard/Cargo.toml
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-06-28-162859_update-consensus-action/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-06-28-162859_update-consensus-action/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-06-28-162859_update-consensus-action/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-06-28-162859_update-consensus-action/up.sql
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/mod.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/consensus_store_command_factory.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/mod.rs
  services/scabbard/libscabbard/src/service/v3/timer_filter.rs
  services/scabbard/libscabbard/src/store/scabbard_store/boxed.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/models/consensus.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/models/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/schema.rs
  services/scabbard/libscabbard/src/store/scabbard_store/mod.rs
Labels: main

#2039 Fix down migrations for postgres fix
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-06-25-213027_fix_v3_postgres/down.sql
Labels: main

#2041 Fix lint rust 1.62.0
  cli/src/action/circuit/api.rs
  cli/src/action/circuit/builder.rs
  cli/src/action/mod.rs
  cli/src/action/registry/api.rs
  examples/gameroom/database/src/lib.rs
  examples/gameroom/gameroom-app/package.json
  libsplinter/src/admin/client/reqwest.rs
  libsplinter/src/error/constraint_violation.rs
  libsplinter/src/lib.rs
  libsplinter/src/registry/client/mod.rs
  rest_api/actix_web_1/src/admin/circuits.rs
  rest_api/actix_web_1/src/admin/proposals.rs
  rest_api/actix_web_1/src/registry/nodes.rs
  services/scabbard/cli/src/main.rs
  services/scabbard/libscabbard/src/lib.rs
  services/scabbard/libscabbard/src/service/mod.rs
  splinterd/src/config/clap.rs
  splinterd/src/config/toml.rs
Labels: backport-triage, main

#2040 Fix several bugs to enable properly purging a scabbard v3 circuit
  libsplinter/src/runtime/service/lifecycle_executor/store/diesel/models.rs
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-07-01-135648_fix_remove_service/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-07-01-135648_fix_remove_service/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-07-01-135648_fix_remove_service/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-07-01-135648_fix_remove_service/up.sql
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/remove_service.rs
Labels: main

#2045 Fix ServiceRequestGuard trait impl
  libsplinter/src/rest_api/actix_web_1/resource.rs
  libsplinter/src/service/rest_api.rs
  rest_api/actix_web_1/src/service/mod.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/batch_statuses.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/batches.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state_address.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/state_root.rs
  services/scabbard/libscabbard/src/service/rest_api/actix/ws_subscribe.rs
Labels: backport-triage, main

#2043 Event table fixes
  justfile
  services/scabbard/libscabbard/Cargo.toml
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-07-05-014045-event-table-updates/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-07-05-014045-event-table-updates/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-07-05-014045-event-table-updates/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-07-05-014045-event-table-updates/up.sql
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/consensus_store_command_factory.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/mod.rs
  services/scabbard/libscabbard/src/store/diesel_postgres_test.rs
  services/scabbard/libscabbard/src/store/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/boxed.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/models/consensus.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/schema.rs
  services/scabbard/libscabbard/src/store/scabbard_store/mod.rs
  tests/test-splinter.yaml
Labels: main

#2027 Implement Supervisor that works with the Consensus Layer
  services/scabbard/libscabbard/Cargo.toml
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-06-16-154357_supervisor/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-06-16-154357_supervisor/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-06-16-154357_supervisor/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-06-16-154357_supervisor/up.sql
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/commands/mod.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/mod.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/notify_observer/command.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_action_runner/notify_observer/mod.rs
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/mod.rs
  services/scabbard/libscabbard/src/service/v3/mod.rs
  services/scabbard/libscabbard/src/service/v3/supervisor/builder.rs
  services/scabbard/libscabbard/src/service/v3/supervisor/commands.rs
  services/scabbard/libscabbard/src/service/v3/supervisor/mod.rs
  services/scabbard/libscabbard/src/service/v3/supervisor/notifier.rs
  services/scabbard/libscabbard/src/service/v3/supervisor/notify_observer.rs
  services/scabbard/libscabbard/src/service/v3/timer_handler.rs
  services/scabbard/libscabbard/src/service/v3/timer_handler_factory.rs
  services/scabbard/libscabbard/src/store/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/boxed.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/models/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/models/supervisor.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_supervisor_notification.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_ready_services.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_supervisor_notifications.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_supervisor_notification.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/schema.rs
  services/scabbard/libscabbard/src/store/scabbard_store/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/supervisor.rs
  splinterd/src/daemon/mod.rs
  splinterd/src/daemon/timer.rs
Labels: main

#2047 Remove loop from ConsensusRunner::run
  services/scabbard/libscabbard/src/service/v3/consensus/consensus_runner/mod.rs
Labels: main

#2020 Remove `EnvironmentError` extraneous explanation
  cli/src/error.rs
Labels: backport-triage, main

#2048 Add SignedTimestamp artifact, creator and factory
  services/scabbard/libscabbard/Cargo.toml
  services/scabbard/libscabbard/src/service/v3/mod.rs
  services/scabbard/libscabbard/src/service/v3/publisher/artifact.rs
  services/scabbard/libscabbard/src/service/v3/publisher/mod.rs
  services/scabbard/libscabbard/src/service/v3/publisher/publisher_context.rs
Labels: main

#2038 Switch from focal(20.04) base images to jammy(22.04)
  .env
  .github/actions/ec2-runners/Dockerfile
  ci/docker-bake.hcl
  ci/publish-splinter-crates.dockerfile
  ci/splinter-dev-buildx
  ci/splinter-dev.dockerfile
  ci/splinter-dev.yaml
  cli/Dockerfile-installed-jammy
  docker/compose/.env
  docker/lint.dockerfile
  examples/gameroom/.env
  examples/gameroom/daemon/Dockerfile-installed-jammy
  examples/gameroom/tests/.env
  examples/gameroom/tests/Dockerfile
  examples/gameroom/tests/cypress/.env
  services/scabbard/cli/Dockerfile-installed-jammy
  splinterd/Dockerfile-installed-jammy
  splinterd/api/openapi.dockerfile
  tests/.env
  tests/Dockerfile
Labels: backport-triage, main

#2052 Check the LMDB files exist before upgrading scabbard state
  cli/src/action/database/upgrade/scabbard.rs
Labels: backport-0-6, main

#2053 Backport 0-6: Check the LMDB files exist before upgrading scabbard state
  cli/src/action/database/upgrade/scabbard.rs
Labels: backport-pr, 0-6

#2056 Update log level when 2pc cannot create a proposal
  libsplinter/src/consensus/two_phase/v1/mod.rs
  libsplinter/src/consensus/two_phase/v2/mod.rs
Labels: main

#2054 Update batch status to support message
  services/scabbard/libscabbard/src/service/state/mod.rs
Labels: backport-triage, main

#2055 Ensure unique test db name per run
  services/scabbard/libscabbard/src/store/diesel_postgres_test.rs
Labels: main

#2057 BACKPORT 0-6: Update batch status to support message
  services/scabbard/libscabbard/src/service/state/mod.rs
Labels: 0-6

#2051 Pin Rust version and add package-lock.json
  .dockerignore
  .gitignore
  ci/splinter-dev.dockerfile
  examples/gameroom/gameroom-app/.gitignore
  examples/gameroom/gameroom-app/package-lock.json
  examples/gameroom/tests/.gitignore
  examples/gameroom/tests/cypress/package-lock.json
Labels: 0-6

#2049 Add migrations to create scabbard store views
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-07-08-133500-add-consensus-2pc-views/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-07-08-133500-add-consensus-2pc-views/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-07-08-133500-add-consensus-2pc-views/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-07-08-133500-add-consensus-2pc-views/up.sql
Labels: main

#2059 Backport: Update log level when 2pc cannot create a proposal
  libsplinter/src/consensus/two_phase/v1/mod.rs
  libsplinter/src/consensus/two_phase/v2/mod.rs
Labels: 0-6

#2063 Backport 0-6: Log error instead of propagate on prune cleanup
  services/scabbard/libscabbard/src/service/state/mod.rs
Labels: backport-pr, 0-6

#2064 Fix get_service for postgres
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/get_service.rs
Labels: main

#2061 Update Ubuntu / OS X build dependencies
  README.md
Labels: backport-triage, main

#2066 Add unit tests to enforce circuit and proposals CLI output
  cli/src/action/circuit/api.rs
Labels: main

#2070 splinter-dev v13
  ci/splinter-dev-buildx
  ci/splinter-dev.dockerfile
  ci/splinter-dev.yaml
  cli/Dockerfile-installed-jammy
  docker/lint.dockerfile
  services/scabbard/cli/Dockerfile-installed-jammy
  splinterd/Dockerfile-installed-jammy
  tests/Dockerfile
Labels: backport-triage, main

#2067 Add release notes for version 0.6.14
  RELEASE_NOTES.md
Labels: 0-6

#2073 Update echo service typos and comments
  services/echo/libecho/src/service/timer_handler.rs
  services/echo/libecho/src/store/diesel/operations/update_request_ack.rs
Labels: main

#2072 Fix jitter bounds in test
  services/echo/libecho/src/service/timer_handler.rs
Labels: backport-triage, main

#2075 Add just recipe for fixing typos
  justfile
Labels: backport-triage, main

#2069 Move splinterd endpoints
  libsplinter/src/biome/credentials/rest_api/actix_web_1/authorize.rs
  libsplinter/src/biome/credentials/rest_api/actix_web_1/login.rs
  libsplinter/src/biome/credentials/rest_api/actix_web_1/logout.rs
  libsplinter/src/biome/credentials/rest_api/actix_web_1/register.rs
  libsplinter/src/biome/credentials/rest_api/actix_web_1/token.rs
  libsplinter/src/biome/credentials/rest_api/actix_web_1/user.rs
  libsplinter/src/biome/credentials/rest_api/actix_web_1/verify.rs
  libsplinter/src/biome/profile/rest_api/actix_web_1/profile.rs
  libsplinter/src/biome/profile/rest_api/actix_web_1/profiles.rs
  libsplinter/src/biome/profile/rest_api/actix_web_1/profiles_identity.rs
  libsplinter/src/lib.rs
  libsplinter/src/oauth/rest_api/actix/list_users.rs
  libsplinter/src/rest_api/auth/authorization/rbac/rest_api/actix_web_1/assignments.rs
  libsplinter/src/rest_api/auth/authorization/rbac/rest_api/actix_web_1/roles.rs
  libsplinter/src/service/rest_api.rs
  rest_api/actix_web_1/Cargo.toml
  rest_api/actix_web_1/src/biome/key_management/endpoints.rs
  rest_api/actix_web_1/src/lib.rs
  rest_api/actix_web_1/src/open_api/mod.rs
  rest_api/actix_web_1/src/open_api/resource_provider.rs
  rest_api/actix_web_1/src/registry/nodes.rs
  rest_api/actix_web_1/src/status/mod.rs
  rest_api/actix_web_1/src/status/resource_provider.rs
  rest_api/common/Cargo.toml
  rest_api/common/src/lib.rs
  rest_api/common/src/status/mod.rs
  splinterd/Cargo.toml
  splinterd/src/daemon/mod.rs
  splinterd/src/main.rs
Labels: main

#2077 Fix postgresql scabbard store table primary key
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-07-26-141800-fix-consensus-2pc-uca-participant-key/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-07-26-141800-fix-consensus-2pc-uca-participant-key/up.sql
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/schema.rs
Labels: main

#2076 Add subcommands from Transact to splinter CLI
  cli/Cargo.toml
  cli/man/splinter-command-get-state.1.md
  cli/man/splinter-command-set-state.1.md
  cli/man/splinter-command-show-state.1.md
  cli/man/splinter-command.1.md
  cli/man/splinter-playlist-batch.1.md
  cli/man/splinter-playlist-create.1.md
  cli/man/splinter-playlist-process.1.md
  cli/man/splinter-playlist-submit.1.md
  cli/man/splinter-playlist.1.md
  cli/man/splinter-workload.1.md
  cli/man/splinter.1.md
  cli/src/action/command.rs
  cli/src/action/mod.rs
  cli/src/action/playlist.rs
  cli/src/action/request_logger.rs
  cli/src/action/time.rs
  cli/src/action/workload.rs
  cli/src/main.rs
Labels: main

#2071 Add scabbard store view: `consensus_2pc_events_and_contexts_all`
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-07-25-085317-add-update-context-action-id/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-07-25-085317-add-update-context-action-id/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-07-25-151237-add-consensus-2pc-event-context-view/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-07-25-151237-add-consensus-2pc-event-context-view/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-07-25-085317-add-update-context-action-id/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-07-25-085317-add-update-context-action-id/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-07-25-151237-add-consensus-2pc-event-context-view/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-07-25-151237-add-consensus-2pc-event-context-view/up.sql
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/models/consensus.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/schema.rs
Labels: main

#2079 Bug fix: Add unintentionally deleted line back
  splinterd/src/daemon/mod.rs
Labels: backport-triage, main

#2078 Update splinter bash completions with moved transact subcommands
  cli/packaging/ubuntu/completions/splinter
Labels: backport-triage, main

#2080 Fix line wrap in splinter-playlist-submit manpage
  cli/man/splinter-playlist-submit.1.md
Labels: main

#2081 Improve psql migration test
  tests/migrations/bin/check_states
  tests/migrations/bin/test_psql_migrations
Labels: backport-triage, main

#2082 Fix some issues in API reference docs
  splinterd/api/static/openapi.yaml
  splinterd/man/splinterd.1.md
Labels: main
