Repository Cargill/splinter, pull requests merged in 2022-04, with the labels that each got.

#1876 Replace the use of whitelist with allow_list in CORS
  libsplinter/src/rest_api/actix_web_1/api.rs
  libsplinter/src/rest_api/actix_web_1/builder.rs
  libsplinter/src/rest_api/cors.rs
  splinterd/man/splinterd.1.md
  splinterd/src/config/builder.rs
  splinterd/src/config/clap.rs
  splinterd/src/config/mod.rs
  splinterd/src/config/partial.rs
  splinterd/src/config/toml.rs
  splinterd/src/daemon/builder.rs
  splinterd/src/daemon/mod.rs
  splinterd/src/main.rs
Labels: backport-triage, main

#1852 Name incoming connection listener threads
  splinterd/src/daemon/mod.rs
  splinterd/src/node/runnable/network.rs
Labels: backport-0-6, main

#1862 Service message dispatch
  libsplinter/Cargo.toml
  libsplinter/src/circuit/handlers/direct_message.rs
  libsplinter/src/network/dispatch/mod.rs
  libsplinter/src/runtime/service/dispatch/mod.rs
  libsplinter/src/runtime/service/dispatch/service_dispatcher.rs
  libsplinter/src/runtime/service/dispatch/task.rs
  libsplinter/src/runtime/service/dispatch/task_job_executor.rs
  libsplinter/src/runtime/service/dispatch/task_single_threaded.rs
  libsplinter/src/runtime/service/dispatch/type_resolver.rs
  libsplinter/src/runtime/service/dispatch/type_resolver_routing_table.rs
  libsplinter/src/runtime/service/mod.rs
  libsplinter/src/runtime/service/network_sender_factory.rs
  libsplinter/src/service/message_handler_factory.rs
  services/scabbard/libscabbard/src/service/v3/message_handler_factory.rs
Labels: main

#1878 Add feature guards on NewKey struct usage
  libsplinter/src/biome/credentials/rest_api/resources/user.rs
Labels: backport-0-6, main

#1873 Publish multi arch images
  .github/workflows/publish-docker-branch.yaml
  ci/docker-bake.hcl
  ci/publish-docker
Labels: backport-triage, main

#1877 Add actix web 4 dependencies
  rest_api/actix_web_4/Cargo.toml
Labels: main

#1881 BACKPORT 0-6: Add files to build splinter-dev with Github Actions
  .github/actions/ec2-docker-buildx/Dockerfile
  .github/actions/ec2-docker-buildx/README.md
  .github/actions/ec2-docker-buildx/action.yml
  .github/actions/ec2-docker-buildx/aws.py
  .github/workflows/0-6-splinter-dev.yaml
  ci/splinter-dev-buildx
Labels: backport-pr

#1884 Backport 0-6: Name incoming connection listener threads
  splinterd/src/daemon/mod.rs
  splinterd/src/node/runnable/network.rs
Labels: backport-pr, 0-6

#1885 Add peers to ScabbardArguments
  services/scabbard/libscabbard/src/service/v3/arguments.rs
  services/scabbard/libscabbard/src/service/v3/arguments_converter.rs
Labels: main

#1887 Backport: Fix single_match lint in rust 1.60
  libsplinter/src/network/auth/handlers/v1_handlers/mod.rs
Labels: backport-pr, 0-6

#1888 Set initial state root properly on start up of Scabbard
  services/scabbard/libscabbard/src/service/state/mod.rs
Labels: backport-0-6, main

#1883 BACKPORT 0-6: Publish multi-arch Docker images
  .github/workflows/0-6-merge.yaml
  ci/docker-bake.hcl
  ci/publish-docker
Labels: backport-pr, 0-6

#1890 0-6 Backport: Set initial state root properly on start up of Scabbard
  services/scabbard/libscabbard/src/service/state/mod.rs
Labels: backport-pr, 0-6

#1892 Stabilize the "store-command" feature
  libsplinter/Cargo.toml
  libsplinter/src/store/mod.rs
  services/scabbard/libscabbard/Cargo.toml
Labels: main

#1895 Make use of ServiceDispatcher in splinterd
  splinterd/Cargo.toml
  splinterd/src/daemon/error.rs
  splinterd/src/daemon/mod.rs
  splinterd/src/node/runnable/network.rs
Labels: main

#1893 Change publish-release GHA workflow to use self-hosted runners
  .github/workflows/publish-release.yaml
Labels: backport-0-6, main

#1897 Add Timer to Splinterd
  splinterd/Cargo.toml
  splinterd/man/splinterd.1.md
  splinterd/src/config/builder.rs
  splinterd/src/config/clap.rs
  splinterd/src/config/default.rs
  splinterd/src/config/mod.rs
  splinterd/src/config/partial.rs
  splinterd/src/config/toml.rs
  splinterd/src/daemon/builder.rs
  splinterd/src/daemon/mod.rs
  splinterd/src/main.rs
Labels: backport-triage, main

#1896 Add Release Notes for 0.6.11
  RELEASE_NOTES.md
Labels: 0-6

#1900 Add LifecycleExecutor and SyncLifecycleInterface to splinterd
  libsplinter/src/store/memory.rs
  libsplinter/src/store/mod.rs
  libsplinter/src/store/postgres.rs
  libsplinter/src/store/sqlite.rs
  splinterd/Cargo.toml
  splinterd/man/splinterd.1.md
  splinterd/src/config/builder.rs
  splinterd/src/config/clap.rs
  splinterd/src/config/default.rs
  splinterd/src/config/mod.rs
  splinterd/src/config/partial.rs
  splinterd/src/config/toml.rs
  splinterd/src/daemon/builder.rs
  splinterd/src/daemon/lifecycle.rs
  splinterd/src/daemon/mod.rs
  splinterd/src/main.rs
Labels: backport-triage, main

#1891 Add scabbard_store module for scabbard v3
  services/scabbard/libscabbard/src/store/commit_hash/diesel/mod.rs
  services/scabbard/libscabbard/src/store/commit_hash/diesel/models.rs
  services/scabbard/libscabbard/src/store/commit_hash/diesel/operations/get_current_commit_hash.rs
  services/scabbard/libscabbard/src/store/commit_hash/diesel/operations/mod.rs
  services/scabbard/libscabbard/src/store/commit_hash/diesel/operations/set_current_commit_hash.rs
  services/scabbard/libscabbard/src/store/commit_hash/diesel/schema.rs
  services/scabbard/libscabbard/src/store/commit_hash/error.rs
  services/scabbard/libscabbard/src/store/commit_hash/mod.rs
  services/scabbard/libscabbard/src/store/commit_hash/transact/factory.rs
  services/scabbard/libscabbard/src/store/commit_hash/transact/mod.rs
  services/scabbard/libscabbard/src/store/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/commit.rs
  services/scabbard/libscabbard/src/store/scabbard_store/context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/error.rs
  services/scabbard/libscabbard/src/store/scabbard_store/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/service.rs
  services/scabbard/libscabbard/src/store/scabbard_store/state.rs
Labels: main

#1898 Add scabbard v3 protobuf message
  services/scabbard/libscabbard/protos/scabbard_v3.proto
  services/scabbard/libscabbard/src/protocol/mod.rs
  services/scabbard/libscabbard/src/protocol/v3/message.rs
  services/scabbard/libscabbard/src/protocol/v3/mod.rs
  services/scabbard/libscabbard/src/protocol/v3/two_phase_commit.rs
  services/scabbard/libscabbard/src/service/v3/message_converter.rs
  services/scabbard/libscabbard/src/service/v3/message_handler.rs
  services/scabbard/libscabbard/src/service/v3/mod.rs
  services/scabbard/libscabbard/src/service/v3/timer_handler.rs
Labels: main

#1903 Add consensus to ScabbardArguments
  services/scabbard/libscabbard/src/service/v3/arguments.rs
  services/scabbard/libscabbard/src/service/v3/arguments_converter.rs
  services/scabbard/libscabbard/src/service/v3/mod.rs
Labels: main

#1906 Add `Action` and `Message` structs/enums to scabbard store
  services/scabbard/libscabbard/src/store/scabbard_store/action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase/action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase/message.rs
  services/scabbard/libscabbard/src/store/scabbard_store/two_phase/mod.rs
Labels: main

#1909 Add `update_service` function for `ScabbardStore`
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_service.rs
  services/scabbard/libscabbard/src/store/scabbard_store/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/service.rs
Labels: main

#1911 Update protoc to 3.20.0
  ci/splinter-dev-buildx
  ci/splinter-dev.dockerfile
  ci/splinter-dev.yaml
  cli/Dockerfile-installed-focal
  docker/lint.dockerfile
  examples/gameroom/daemon/Dockerfile-installed-focal
  examples/gameroom/tests/Dockerfile
  services/scabbard/cli/Dockerfile-installed-focal
  splinterd/Dockerfile-installed-focal
  tests/Dockerfile
Labels: main

#1889 Add dry-run to state migrate command
  cli/man/splinter-state-migrate.1.md
  cli/src/action/database/state/mod.rs
  cli/src/main.rs
Labels: backport-0-6, main

#1918 Remove service-network features
  libsplinter/Cargo.toml
  libsplinter/src/circuit/component.rs
  libsplinter/src/circuit/mod.rs
  libsplinter/src/runtime/service/instance/mod.rs
  libsplinter/src/runtime/service/instance/network/error.rs
  libsplinter/src/runtime/service/instance/network/handlers.rs
  libsplinter/src/runtime/service/instance/network/interconnect/error.rs
  libsplinter/src/runtime/service/instance/network/interconnect/mod.rs
  libsplinter/src/runtime/service/instance/network/interconnect/service_connector.rs
  libsplinter/src/runtime/service/instance/network/mod.rs
Labels: backport-triage, main

#1919 Backport 0-6: Remove service-network feature
  libsplinter/Cargo.toml
  libsplinter/src/circuit/component.rs
  libsplinter/src/circuit/mod.rs
  libsplinter/src/service/mod.rs
  libsplinter/src/service/network/error.rs
  libsplinter/src/service/network/handlers.rs
  libsplinter/src/service/network/interconnect/error.rs
  libsplinter/src/service/network/interconnect/mod.rs
  libsplinter/src/service/network/interconnect/service_connector.rs
  libsplinter/src/service/network/mod.rs
Labels: 0-6

#1921 Proposal store factory
  libsplinter/src/admin/rest_api/actix/proposals.rs
  libsplinter/src/admin/rest_api/actix/proposals_circuit_id.rs
  libsplinter/src/admin/rest_api/mod.rs
  libsplinter/src/admin/service/mod.rs
  libsplinter/src/admin/service/proposal_store.rs
  libsplinter/src/admin/service/proposal_store/admin_service_proposals.rs
  libsplinter/src/admin/service/proposal_store/admin_service_proposals_factory.rs
  libsplinter/src/admin/service/proposal_store/error.rs
  libsplinter/src/admin/service/proposal_store/factory.rs
  libsplinter/src/admin/service/proposal_store/mod.rs
  libsplinter/src/admin/service/proposal_store/proposal_iter.rs
  libsplinter/src/admin/service/proposal_store/store.rs
Labels: main

#1922 Expand service type struct doc
  libsplinter/src/service/service_type.rs
Labels: backport-triage, main

#1915 Add consensus type to ScabbardService and add get_service to ScabbardStrore
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-04-21-160128_add_consensus/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-04-21-160128_add_consensus/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-04-21-160128_add_consensus/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-04-21-160128_add_consensus/up.sql
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/models.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/get_service.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/schema.rs
  services/scabbard/libscabbard/src/store/scabbard_store/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/service.rs
Labels: main

#1917 Backport 0-6: Add dry-run to state migrate command
  cli/man/splinter-state-migrate.1.md
  cli/src/action/database/state/mod.rs
  cli/src/main.rs
Labels: 0-6

#1912 Scabbard store updates
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-03-29-160500-create-scabbard-store-tables/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-03-29-160500-create-scabbard-store-tables/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/postgres/migrations/2022-04-21-174800_scabbard_consensus_event_tables/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-03-29-160500-create-scabbard-store-tables/down.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-03-29-160500-create-scabbard-store-tables/up.sql
  services/scabbard/libscabbard/src/migrations/diesel/sqlite/migrations/2022-04-21-174800_scabbard_consensus_event_tables/up.sql
  services/scabbard/libscabbard/src/store/scabbard_store/action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/models.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/add_consensus_event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/get_current_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_actions.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_consensus_events.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/list_ready_services.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_action.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_context.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/update_consensus_event.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/schema.rs
  services/scabbard/libscabbard/src/store/scabbard_store/mod.rs
Labels: main

#1924 Adjust sqlite, postgres feature to work in isolation
  libsplinter/Cargo.toml
  libsplinter/src/lib.rs
Labels: backport-0-6, main

#1914 Implement `ScabbardTimerFilter`
  services/scabbard/libscabbard/src/service/v3/timer_filter.rs
Labels: main

#1931 Add ScabbardStore::remove_service
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/mod.rs
  services/scabbard/libscabbard/src/store/scabbard_store/diesel/operations/remove_service.rs
  services/scabbard/libscabbard/src/store/scabbard_store/mod.rs
Labels: backport-triage, main

#1930 Implement custom Hash for ServiceTypeInner
  libsplinter/src/service/service_type.rs
Labels: main

#1815 Return batch statuses even when some timeout
  services/scabbard/libscabbard/src/client/reqwest/mod.rs
  services/scabbard/libscabbard/src/service/rest_api/resources/batch_statuses.rs
  services/scabbard/libscabbard/src/service/state/mod.rs
Labels: backport-triage, main
